<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 20px;
  }
</style>

<div class="message-content">
  <p>Ola, {{name}}</p>
  <p>Solicitação de troca de senha recebida.</p>
  <p>Clique no link abaixo para escolher sua nova senha</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Caso nao tenha sido voce a solicitar o reset da senha,
    favor desconsiderar esse email</p>

  <p>Obrigado <strong>Equipe GoBarber</strong></p>

</div>
